.app {
	text-align: center;
}

.card {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	border: 1px solid grey;
	display: grid;
	align-content: space-between;
}
.cardCompleted {
	background: rgb(189, 225, 135);
}
.containerCard {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

/* * {
	box-sizing: border-box;
} */

:root {
	--checkbox-color: #ee9ca7;
	--checkbox-shadow: rgba(238, 156, 167, 0.2);
	--add-button: #ee9ca7;
	--add-button-shadow: rgba(238, 156, 167, 0.4);
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: flex-start;

	/* background-image: linear-gradient(
			62deg,
			rgba(1, 95, 183, 0.9732216701223994) 13%,
			rgba(255, 122, 151, 0.5) 4% */
	/* ) */
	/* linear-gradient(
			44deg,
			rgba(0, 43, 99, 0.07922090238615942) 39%,
			rgba(242, 140, 143, 0.5) 18%
		),
		linear-gradient(
			118deg,
			rgba(84, 202, 242, 0.03152997265339608) 40%,
			rgba(247, 155, 187, 0.5) 54%
		),
		linear-gradient(
			58deg,
			rgba(90, 90, 237, 0.16144443572260592) 83%,
			rgba(249, 156, 142, 0.5) 23%
		); */
	background-blend-mode: normal, lighten, multiply, hard-light;
	font-family: "DM Sans", sans-serif;
}

input {
	outline: none;
}

ul {
	list-style: none;
	padding: 0;
}

.appContainer {
	border-radius: 8px;
	width: 100%;
	max-width: 480px;
	max-height: 100%;
	background-color: #10101d;
	padding: 24px;
	overflow: auto;
}

.appHeader {
	font-size: 20px;
	line-height: 32px;
	margin: 0 0 12px 0;
	color: #fff;
}
.deleting {
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #6f4e37;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999999;
}
.preloader .loader {
	position: relative;
	width: 150px;
	height: 200px;
}
.preloader .loader .smoke {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
}
.preloader .loader .smoke div {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 3;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0;
}
.preloader .loader .smoke div:nth-child(1) {
	left: 20px;
	animation: loader-smoke-1 3s linear infinite;
	animation-delay: 0s;
}
.preloader .loader .smoke div:nth-child(2) {
	left: 40px;
	animation: loader-smoke-2 3s linear infinite;
	animation-delay: 0.2s;
}
.preloader .loader .smoke div:nth-child(3) {
	left: 60px;
	animation: loader-smoke-3 3s linear infinite;
	animation-delay: 0.4s;
}
.preloader .loader .smoke div:nth-child(4) {
	left: 100px;
	animation: loader-smoke-4 3s linear infinite;
}
@keyframes loader-smoke-1 {
	from {
		bottom: 0;
		transform: scale(1);
		opacity: 1;
		filter: blur(5px);
	}
	to {
		bottom: 100%;
		transform: scale(3);
		opacity: 0;
		filter: blur(10px);
	}
}
@keyframes loader-smoke-2 {
	from {
		bottom: 0;
		left: 40px;
		transform: scale(1);
		opacity: 1;
		filter: blur(5px);
	}
	to {
		bottom: 100%;
		transform: scale(3);
		left: 120px;
		opacity: 0;
		filter: blur(10px);
	}
}
@keyframes loader-smoke-3 {
	0% {
		bottom: 0;
		left: 60px;
		transform: scale(1);
		opacity: 1;
		filter: blur(10px);
	}
	50% {
		left: 120px;
	}
	100% {
		bottom: 100%;
		transform: scale(3);
		left: 40px;
		opacity: 0;
		filter: blur(20px);
	}
}
@keyframes loader-smoke-4 {
	from {
		bottom: 0;
		left: 100px;
		transform: scale(1);
		opacity: 1;
		filter: blur(5px);
	}
	to {
		bottom: 100%;
		transform: scale(3);
		left: 0;
		opacity: 0;
		filter: blur(10px);
	}
}
.preloader .loader .cup {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: #fff;
	box-shadow: inset 10px 10px 25px 3px #ddd;
	border-radius: 0 0 50% 50%;
}
.preloader .loader .cup .body {
	position: absolute;
	top: -15px;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #331906;
	border: 5px solid #fff;
	z-index: 1;
	border-radius: 50%;
}
.preloader .loader .cup .plate {
	position: absolute;
	top: calc(100% - 10px);
	width: 100%;
	height: 20px;
	border-radius: 50%;
	z-index: -1;
	background-color: #eee;
	box-shadow: inset 5px 5px 10px 1px #ccc;
}
.preloader .loader .cup .hand {
	position: absolute;
	left: 103%;
	top: 10px;
	height: 80px;
	width: 50px;
	border-radius: 50%;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	transform: rotate(50deg);
	transform-origin: top center;
	z-index: -1;
}
